@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html {
    font-size: 11px;
}

body {
    font-family: "EB Garamond", "Averia Serif Libre", serif;
}

h1, h2, h3, h4 {
    font-family: "EB Garamond", "Averia ", cursive;
    letter-spacing: 0.1rem;
}
