<%#
`public_domain_magic`, the PublicDomainMagic.org information system
Copyright (C) 2025  Kerrick Long <me@kerricklong.com>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.
%>

<%= content_for :page_title, "Get Involved" %>

<p><%= pdm_logotype %> is a volunteer-driven project, and there’s room for people of all skill levels to contribute.</p>

<p>At the most basic level, anyone can contribute feedback. Day-to-day readers can tell us about errors they spot in our ebooks. People with an eye for typography and a talent for editing can proofread whole ebooks. Technically inclined readers can produce ebooks themselves, or contribute via GitHub. Those familiar with copyright law and bibiliographical research can help determine the copyright status of post-<%= public_domain_year %> works. You can also make a financial contribution or donate a wanted book to help fund continued ebook development.</p>

<p>For all these and more, start by emailing <%= mail_to "librarian@publicdomainmagic.org" %>.</p>

