<%= content_for :page_title, "Ebooks" %>

<p><%= pdm_logotype :domain %> is still under construction. If you would like to help us launch the website and publish our first ebooks, please <%= link_to "reach out to get involved", contribute_path %>.</p>
