<%= content_for :page_title, "Newsletter" %>

<p>To receive the <%= pdm_logotype %> newsletter, please send an email to <%= mail_to "librarian@publicdomainmagic.org", subject: "SUBSCRIBE" %> with the subject line &ldquo;SUBSCRIBE.&rdquo;</p>
